:root{
    --color1:#1D1B1B;
    --color2:#EC4D37;
    --font: 'Poppins', sans-serif;
}
body{
    background-color:var(--color1);
    overflow: hidden;
}

.anubhav-intro {
    /* background-color: white; */
    /* position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; */
    text-align: center;
    padding: 120px 0px;
}

.name {
    /* position: relative;
    top: 20%;
    text-align: center; */
    display: block;
    padding: 5px;
    word-wrap: break-word;
}

.open-source {
    /* position: relative;
    top: 15%;
    padding: 15px;
    text-align: center; */
    display: block;
    padding: 5px;
    word-wrap: break-word;
}

.name span{
    color: var(--color2);
    font-family: var(--font);
    font-size: 80px;
}

.open-source span{
    color:var(--color2);
    font-family: var(--font);
    font-size:35px;
}

.social-media {
    /* border: white solid 5px; */
    /* text-align: center; */
    height: 20%;
    position: relative;
    top:60%;
}

.social-media li {
    /* position: absolute; */
    /* left:25%;  */
    display: inline;
    padding:10px 28px;
}

.social-media img:hover {
    cursor: pointer;
    box-shadow: 0 0 15px var(--color2);
    transition: 0.5s;
}
.social-media-linkedin {
    width: 32px;
    height: 32px;
}
.social-media-github {
    position: absolute;
    left:60%;
}
.social-media-facebook {
    position: absolute;
    left:50%;
}
.social-media-linkedin {
    position: absolute;
    left:40%;
}
